

.wrapperInfo {
    display: grid;
    grid: repeat(1, 500px) /auto-flow 250px;
    justify-content: center;


}

.wrapperInfo div {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    align-items: center;
    

}


